---
import { Icon } from 'astro-icon';
import Layout from '../layouts/Layout.astro';
import contacts from '../data/contacts';

const socialImageURL = new URL('/images/contacts.jpg', Astro.url);
---

<Layout>
  <!-- HEAD META DATA FOR SEO -->
  <Fragment slot="head">
    <title>Laitilan Jyske | Yleisurheilu | Yhteystiedot</title>
    <meta property="og:title" content="Yhteystiedot" />
    <meta
      name="description"
      content="Ota yhteyttä yhteystietojen tai lomakkeen avulla."
    />
    <meta
      name="keywords"
      content="laitila, jyske, laitilan jyske, yleisurheilu, yleisurheilujaosto, yhteystiedot"
    />
    <meta property="og:image" content={socialImageURL} />
    <meta
      property="og:description"
      content="Ota yhteyttä yhteystietojen tai lomakkeen avulla."
    />
  </Fragment>

  <!-- HERO IMAGE -->
  <Fragment slot="hero-image">
    <img
      class="w-full h-full object-cover lg:object-[100%_35%] xl:object-[100%_30%] 2xl:object-[100%_25%]"
      src="/images/contacts.jpg"
      aria-hidden="true"
    />
  </Fragment>

  <!-- HERO HEADING -->
  <Fragment slot="hero-heading">
    <h1
      class="relative text-center text-white pt-16 pb-32 sm:pt-24 sm:pb-40 md:pb-48 lg:pt-36 xl:pt-44 xl:pb-52 text-2xl sm:text-3xl md:text-4xl"
    >
      Yhteystiedot
    </h1>
  </Fragment>

  <!-- MAIN -->
  <Fragment slot="main">
    <!-- CONTACT CARD -->
    <section
      class="max-w-7xl mx-auto my-8 px-4 sm:my-12 sm:px-8 lg:my-16 lg:px-12"
    >
      <div class="bg-white shadow-xl grid grid-cols-1 lg:grid-cols-3">
        <!-- CONTACT INFO -->
        <div
          class="relative overflow-hidden py-10 px-6 bg-gradient-to-b from-blue-500 to-blue-600 sm:px-10 xl:p-12"
        >
          <!-- DECORATION FOR MOBILES -->
          <Icon
            name="angle-sm"
            class="sm:hidden absolute inset-0 w-full h-full pointer-events-none"
          />
          <!-- DECORATION FOR TABLETS -->
          <Icon
            name="angle-md"
            class="hidden sm:block lg:hidden absolute top-0 right-0 bottom-0 w-1/2 h-full pointer-events-none"
          />
          <!-- DECORATION FOR LAPTOPS -->
          <Icon
            name="angle-lg"
            class="hidden lg:block absolute top-0 right-0 bottom-0 w-1/2 pointer-events-none"
          />

          <!-- CONTACT INFO DESCRIPTION -->
          <h3 class="text-lg font-medium text-white">
            Yleisurheilujaoston yhteystiedot
          </h3>
          <p class="mt-6 text-blue-50">
            Ota yhteyttä tältä sivulta löytyvien yhteystietojen tai oheisen
            lomakkeen avulla.
          </p>
          <p class="mt-6 text-blue-50">
            Voit myös seurata seuran WhatsApp-tiedotusryhmää ja muita
            sosiaalisia medioita pysyäksesi ajan tasalla seuran tapahtumista.
          </p>

          <!-- CONTACT INFO DETAILS -->
          <dl class="mt-10 space-y-3 text-blue-50">
            <dt><span class="sr-only">Postiosoite</span></dt>
            <dd class="flex">
              <Icon name="home" class="flex-shrink-0 w-6 h-6 text-blue-200" />
              <span class="ml-3">Haaparinne 4, 23800 Laitila</span>
            </dd>
            <dt><span class="sr-only">Email</span></dt>
            <dd class="flex">
              <Icon name="mail" class="flex-shrink-0 w-6 h-6 text-blue-200" />
              <span class="ml-3 hover:text-white hover:underline"
                ><a href="mailto:laitilan.jyske@lailanet.fi"
                  >laitilan.jyske@lailanet.fi
                </a>
              </span>
            </dd>
          </dl>

          <!-- CONTACT INFO SOCIAL MEDIA -->
          <ul role="list" class="mt-12 flex items-end gap-6">
            <li>
              <a
                href="https://chat.whatsapp.com/C4T97CG5hZd69TG1b6gNt6"
                target="_blank"
                class="text-blue-200 hover:text-blue-100"
              >
                <span class="sr-only">WhatsApp</span>
                <Icon name="whatsapp" class="h-7 w-auto" />
              </a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/laitilanjyskeyleisurheilu/"
                target="_blank"
                class="text-blue-200 hover:text-blue-100"
              >
                <span class="sr-only">Instagram</span>
                <Icon name="instagram" class="h-7 w-auto" />
              </a>
            </li>
            <li>
              <a
                href="https://www.facebook.com/laitilanjyskeyu/"
                target="_blank"
                class="text-blue-200 hover:text-blue-100"
              >
                <span class="sr-only">Facebook</span>
                <Icon name="facebook" class="h-7 w-auto" />
              </a>
            </li>
          </ul>
        </div>

        <!-- CONTACT FORM -->
        <div class="py-10 px-6 sm:px-10 lg:col-span-2 xl:p-12">
          <h3 class="text-lg font-medium text-gray-900">Lähetä viesti</h3>
          <form
            action="#"
            method="POST"
            class="mt-6 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8"
          >
            <!-- FIRST NAME -->
            <div>
              <label
                for="first-name"
                class="block text-sm font-medium text-gray-700"
                >Etunimi
              </label>
              <div class="mt-1">
                <input
                  required
                  type="text"
                  name="first-name"
                  id="first-name"
                  autocomplete="given-name"
                  class="py-3 px-4 block w-full shadow-sm text-gray-700 focus:ring-blue-500 focus:border-blue-500 border-gray-300 rounded-md"
                />
              </div>
            </div>

            <!-- LAST NAME -->
            <div>
              <label
                for="last-name"
                class="block text-sm font-medium text-gray-700"
                >Sukunimi
              </label>
              <div class="mt-1">
                <input
                  required
                  type="text"
                  name="last-name"
                  id="last-name"
                  autocomplete="family-name"
                  class="py-3 px-4 block w-full shadow-sm text-gray-700 focus:ring-blue-500 focus:border-blue-500 border-gray-300 rounded-md"
                />
              </div>
            </div>

            <!-- EMAIL -->
            <div>
              <label for="email" class="block text-sm font-medium text-gray-700"
                >Sähköposti
              </label>
              <div class="mt-1">
                <input
                  required
                  id="email"
                  name="email"
                  type="email"
                  autocomplete="email"
                  class="py-3 px-4 block w-full shadow-sm text-gray-700 focus:ring-blue-500 focus:border-blue-500 border-gray-300 rounded-md"
                />
              </div>
            </div>

            <!-- PHONE NUMBER -->
            <div>
              <div class="flex justify-between">
                <label
                  for="phone"
                  class="block text-sm font-medium text-gray-700"
                  >Puhelinnumero
                </label>
                <span id="phone-optional" class="text-sm text-gray-500"
                  >Valinnainen
                </span>
              </div>
              <div class="mt-1">
                <input
                  type="text"
                  name="phone"
                  id="phone"
                  autocomplete="tel"
                  class="py-3 px-4 block w-full shadow-sm text-gray-700 focus:ring-blue-500 focus:border-blue-500 border-gray-300 rounded-md"
                  aria-describedby="phone-optional"
                />
              </div>
            </div>

            <!-- SUBJECT -->
            <div class="sm:col-span-2">
              <label
                for="subject"
                class="block text-sm font-medium text-gray-700"
                >Aihe
              </label>
              <div class="mt-1">
                <input
                  required
                  type="text"
                  name="subject"
                  id="subject"
                  class="py-3 px-4 block w-full shadow-sm text-gray-700 focus:ring-blue-500 focus:border-blue-500 border-gray-300 rounded-md"
                />
              </div>
            </div>

            <!-- MESSAGE -->
            <div class="sm:col-span-2">
              <label
                for="message"
                class="block text-sm font-medium text-gray-700"
                >Viesti
              </label>
              <div class="mt-1">
                <textarea
                  id="message"
                  name="message"
                  rows="4"
                  class="py-3 px-4 block w-full shadow-sm text-gray-700 focus:ring-blue-500 focus:border-blue-500 border border-gray-300 rounded-md"
                ></textarea>
              </div>
            </div>

            <!-- SUBMIT BUTTON -->
            <div class="sm:col-span-2 sm:flex sm:justify-end">
              <button
                type="submit"
                class="mt-2 w-full inline-flex items-center justify-center px-6 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:w-auto"
                >Lähetä
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>

    <!-- MEMBERS INFO SECTION -->
    <section
      class="max-w-7xl mx-auto my-8 px-4 sm:my-12 sm:px-8 lg:my-16 lg:px-12"
    >
      <!-- MEMBERS INFO DESCRIPTION -->
      <h2 class="text-xl font-semibold text-gray-900">
        Yleisurheilujaoston jäsenet
      </h2>
      <p class="mt-2 text-gray-700">
        Oheisesta taulukosta löydät yleisurheilujaoston jäsenten yhteystiedot.
      </p>

      <!-- MEMBERS CONTACTS TABLE -->
      <div
        class="my-8 overflow-x-auto shadow ring-1 ring-black ring-opacity-5 md:rounded-lg"
      >
        <table class="min-w-full divide-y divide-gray-300 bg-slate-50">
          <!-- MEMBERS TABLE HEAD -->
          <thead class="bg-blue-500 text-white text-left text-sm font-semibold">
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3">Nimi</th>
              <th scope="col" class="py-3.5 px-3">Tehtävä</th>
              <th scope="col" class="py-3.5 px-3">Sähköposti</th>
              <th scope="col" class="py-3.5 px-3">Puhelinnumero</th>
            </tr>
          </thead>

          <!-- MEMBERS TABLE BODY -->
          <tbody
            class="divide-y divide-gray-200 whitespace-nowrap text-sm text-gray-700"
          >
            {
              contacts.map(({ name, title, email, phone }) => (
                <tr class="hover:bg-white">
                  <td
                    scope="col"
                    class="py-4 pl-4 pr-3 font-medium text-gray-900"
                  >
                    {name}
                  </td>
                  <td scope="col" class="py-4 px-3">
                    {title ? title : '-'}
                  </td>
                  <td scope="col" class="py-4 px-3">
                    <a
                      class="hover:text-gray-900 hover:underline"
                      href={`mailto:${email}`}
                    >
                      {email}
                    </a>
                  </td>
                  <td scope="col" class="py-4 px-3">
                    {phone}
                  </td>
                </tr>
              ))
            }
          </tbody>
        </table>
      </div>
    </section>
  </Fragment>
</Layout>
