---
import { Icon } from 'astro-icon';
import Layout from '@layouts/Layout.astro';
import { formattedDateTimePeriod } from '@utils/dates';
import { PrismaEvent } from '@models';
import { EventActions, EventList } from '@components';

const slug = Astro.params.slug as string;
const event = await PrismaEvent.findUnique({
  where: { slug },
  include: {
    RecurringEvent: {
      include: {
        occurrences: true,
      },
    },
  },
});
if (!event) return Astro.redirect('/404');
---

<Layout title={event.title}>
  <!-- HEAD META DATA FOR SEO -->
  <Fragment slot="head">
    <title>Laitilan Jyske - Yleisurheilu | Tapahtumat | {event.title}</title>
    <meta property="og:title" content={event.title} />
    <meta
      name="description"
      content={`${event.location} | ${formattedDateTimePeriod(event)}`}
    />
    <meta
      name="keywords"
      content={`laitila, jyske, laitilan jyske, yleisurheilu, yleisurheilujaosto, tapahtumat, ${event.title}`}
    />
    <meta
      property="og:image"
      content={new URL('/images/events.jpg', Astro.url)}
    />
    <meta
      property="og:description"
      content={`${event.location} | ${formattedDateTimePeriod(event)}`}
    />
  </Fragment>

  <!-- HERO IMAGE -->
  <Fragment slot="hero-image">
    <img
      class="h-full w-full object-cover object-[100%_35%] lg:object-[100%_30%] xl:object-[100%_25%]"
      src="/images/events.jpg"
      alt="Juoksumatka Seuracup-kilpailussa"
      aria-hidden="true"
    />
  </Fragment>

  <!-- HERO HEADING -->
  <Fragment slot="hero-heading">
    <h1
      class="relative pt-16 pb-32 text-center text-2xl text-white sm:pt-24 sm:pb-40 sm:text-3xl md:pb-48 md:text-4xl lg:pt-36 xl:pt-44 xl:pb-52"
    >
      Tapahtumat
    </h1>
  </Fragment>

  <!-- MAIN -->
  <Fragment slot="main">
    <div class="relative overflow-hidden py-16">
      <div class="hidden lg:absolute lg:inset-y-0 lg:block lg:h-full lg:w-full">
        <div class="relative mx-auto h-full max-w-prose" aria-hidden="true">
          <Icon
            name="dot-grid"
            width={404}
            class="absolute top-1/2 left-full -translate-y-1/2 translate-x-32 text-blue-200"
          />
          <Icon
            name="dot-grid"
            width={404}
            class="absolute top-1/2 right-full -translate-y-1/2 -translate-x-32 text-blue-200"
          />
        </div>
      </div>
      <div class="relative mx-auto max-w-prose px-4 text-lg sm:px-6 lg:px-8">
        <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">
          {event.title}
        </h1>
        <div class="mt-3 flex flex-col sm:mt-4">
          <span class="mb-1 text-lg font-medium text-blue-600 sm:text-xl"
            >{event.location}
          </span>
          <time
            class="text-base text-gray-600 sm:text-base"
            datetime={event.startDateTime.toLocaleTimeString('sv', {
              timeZone: 'Europe/Helsinki',
            })}
            >{formattedDateTimePeriod(event)}
          </time>
        </div>
        <div class="prose prose-blue mx-auto mt-6 text-lg text-gray-600">
          <p>{event.description}</p>
        </div>
        <EventActions client:load event={event} />
      </div>
      {
        event.recurringEventId && (
          <div class="relative mx-auto max-w-prose px-4 text-lg sm:px-6 lg:px-8">
            <h2 class="mt-8 mb-4 text-2xl font-bold">Kaikki tapahtumakerrat</h2>
            <EventList
              client:load
              events={event.RecurringEvent?.occurrences ?? []}
            />
          </div>
        )
      }
    </div>
  </Fragment>
</Layout>
