---
import { Icon } from 'astro-icon';
import Layout from '@layouts/Layout.astro';
import { formattedDateTimePeriod } from '@utils/dates';
import { PrismaEvent } from '@models';
import { EventDetails } from '@components';

const slug = Astro.params.slug as string;
const event = await PrismaEvent.findUniqueWithOccurrences(slug);
if (!event) return Astro.redirect('/404');
---

<Layout title={event.title}>
  <!-- HEAD META DATA FOR SEO -->
  <Fragment slot="head">
    <link rel="preload" as="image" href="/images/events.webp" />
    <title>Laitilan Jyske - Yleisurheilu | Tapahtumat | {event.title}</title>
    <meta property="og:title" content={event.title} />
    <meta
      name="description"
      content={`${event.location} | ${formattedDateTimePeriod(event)}`}
    />
    <meta
      name="keywords"
      content={`laitila, jyske, laitilan jyske, yleisurheilu, yleisurheilujaosto, tapahtumat, ${event.title}`}
    />
    <meta
      property="og:image"
      content={new URL('/images/events.webp', Astro.url)}
    />
    <meta
      property="og:description"
      content={`${event.location} | ${formattedDateTimePeriod(event)}`}
    />
  </Fragment>

  <!-- HERO IMAGE -->
  <Fragment slot="hero-image">
    <img
      class="h-full w-full object-cover"
      src="/images/events.webp"
      alt="Juoksumatka Seuracup-kilpailussa"
      aria-hidden="true"
    />
  </Fragment>

  <!-- HERO HEADING -->
  <Fragment slot="hero-heading">
    <h1
      class="relative pt-16 pb-32 text-center text-2xl text-white sm:pt-24 sm:pb-40 sm:text-3xl md:pb-48 md:text-4xl lg:pt-36 xl:pt-44 xl:pb-52"
    >
      Tapahtumat
    </h1>
  </Fragment>

  <!-- MAIN -->
  <Fragment slot="main">
    <div class="relative overflow-hidden py-8 sm:py-16">
      <div
        class="pointer-events-none hidden lg:absolute lg:inset-y-0 lg:block lg:h-full lg:w-full"
      >
        <div class="relative mx-auto h-full max-w-prose" aria-hidden="true">
          <Icon
            name="dot-grid"
            width={404}
            class="absolute top-1/2 left-full -translate-y-1/2 translate-x-32 text-blue-200"
          />
          <Icon
            name="dot-grid"
            width={404}
            class="absolute top-1/2 right-full -translate-y-1/2 -translate-x-32 text-blue-200"
          />
        </div>
      </div>
      <EventDetails client:load event={event} />
    </div>
  </Fragment>
</Layout>
