---
import { PrismaNews } from "@server/models";
import { Icon } from "astro-icon";
import NewsDetails from "~/components/NewsDetails";
import Layout from "~/layouts/Layout.astro";

const slug = Astro.params.slug as string;
const news = await PrismaNews.findUnique({ where: { slug } });
if (!news) return Astro.redirect("/404");
---

<Layout title={news.title}>
  <!-- HEAD META DATA FOR SEO -->
  <Fragment slot="head">
    <link rel="preload" as="image" href="/images/news.webp" />
    <title>Laitilan Jyske - Yleisurheilu | Uutiset | {news.title}</title>
    <meta property="og:title" content={news.title} />
    <meta name="description" content={news.leadParagraph} />
    <meta
      name="keywords"
      content="laitila, jyske, laitilan jyske, yleisurheilu, yleisurheilujaosto, uutiset"
    />
    {news.cardImage && <meta property="og:image" content={news.cardImage} />}
    <meta property="og:description" content={news.leadParagraph} />
  </Fragment>

  <!-- HERO IMAGE -->
  <Fragment slot="hero-image">
    <img
      class="h-full w-full object-cover object-[100%_35%] lg:object-[100%_30%] xl:object-[100%_25%]"
      src="/images/news.webp"
      alt="Seuran vakiotoimitsijat ajanotossa"
      aria-hidden="true"
    />
  </Fragment>

  <!-- HERO HEADING -->
  <Fragment slot="hero-heading">
    <h1
      class="relative pb-32 pt-16 text-center text-2xl text-white sm:pb-40 sm:pt-24 sm:text-3xl md:pb-48 md:text-4xl lg:pt-36 xl:pb-52 xl:pt-44"
    >
      Uutiset
    </h1>
  </Fragment>

  <!-- MAIN -->
  <Fragment slot="main">
    <div class="relative overflow-hidden py-16">
      <div class="hidden lg:absolute lg:inset-y-0 lg:block lg:h-full lg:w-full">
        <div class="relative mx-auto h-full max-w-prose" aria-hidden="true">
          <Icon
            name="dot-grid"
            width={404}
            class="absolute left-full top-12 translate-x-32 text-blue-200"
          />
          <Icon
            name="dot-grid"
            width={404}
            class="absolute right-full top-1/2 -translate-x-32 -translate-y-1/2 text-blue-200"
          />
          <Icon
            name="dot-grid"
            width={404}
            class="absolute bottom-12 left-full translate-x-32"
          />
        </div>
      </div>
      <NewsDetails client:load newsArticle={news} />
    </div>
  </Fragment>
</Layout>
